{% extends 'vikalp/base.html' %}
{% load staticfiles %}
{% block head %}{{company.name}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="job1 wow fadeIn ">
            <h1 align="center" style="font-weight: bold">{{company.name}}</h1>
            <h2 align="center" style="font-weight: bold">{{company.title}}</h2><br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4 job1 wow fadeIn " align="center">
                    <h3 style="font-weight: bold">About the company:</h3>
                    <p>{{company.about}}</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 job1 wow fadeIn " align="center">
                    <h3 style="font-weight: bold">Recruitment Procedure:</h3>
                    <p>{{company.proc}}</p>
                </div>
            </div>
            <h3 style="font-weight: bold">Job Details:</h3>
            <p>CTC: &#8377; {{company.ctc}} lacs</p>
            <p>Location: {{company.location}}</p>
            <p>Experience: {{company.experience}} years</p>
        </div>
    </div>


     <footer id="footer">
         <div class="container">
             <div class="row">
                 <div class="col-md-1"></div>
                 <div class="col-md-5 col-sm-6 wow animated slideInRight" id="whatWeDo" data-wow-duration="1000ms" data-wow-delay="300ms">
                     <h2 style="color: #FFFFFF">What we do?</h2>
                     <p>We provide you one stop solution for your search for jobs. Your frantic search ends here as we provide thousands of jobs scraped from all around the web at one place. One place to give job to all.</p>
                 </div>
                 <div class="col-md-5 col-sm-6 wow animated slideInUp" id="contactUs" data-wow-duration="1000ms" data-wow-delay="300ms">
                     <h2 style="color: #FFFFFF">Contacts</h2>
                     <h3>Email:</h3><p><span style="font-weight:300">abc@xyz.com</span></p><br />
                     <h3>Phone:</h3><p><span style="font-weight:300">12345678</span></p><br />
                     <h3>Address:</h3><p><span style="font-weight:300">Boys Hostel, AKGEC, Ghaziabad.</span></p>
                 </div>
             </div>
         </div>
     </footer>

{% endblock %}