{% extends 'vikalp/base.html' %}
{% load staticfiles %}
{% block head %}{{branch.name}}{% endblock %}
{% block content %}

<script type="text/javascript">
	function changeval(val)
	{
		document.getElementById("storeval").value  = val;
	}
</script>
	<div class="container">
		<div id="filter" class="wow slideInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
			<form method="POST" action="{% url 'vikalp:list' branch.id %}">
				{% csrf_token %}
				<div id="byctc">
					<p class="heading">CTC</p><input type="range" min="0" max="1000000" onchange="changeval(this.value)">
					<input type="text" id="storeval" name="ctc">
				</div>
				<br />
				<div id="bylocation">
					<p class="heading">Choose your location</p>
					<input type="checkbox" name="location" value="bangalore">Bangalore</br></br>
					<input type="checkbox" name="location" value="noida">Noida</br></br>
					<input type="checkbox" name="location" value="gurgaon">Gurgaon</br></br>
					<input type="checkbox" name="location" value="delhi">Delhi</br></br>
					<input type="checkbox" name="location" value="mumbai">Mumbai</br></br>
					<input type="checkbox" name="location" value="hyderabad">Hyderabad</br></br>
					<input type="checkbox" name="location" value="mysore">Mysore</br></br>
					<input type="checkbox" name="location" value="pune">Pune</br></br>
				</div>
				<br />
				<div id="byexperience">
					<p class="heading">Experience</p>
					<input type="number" min="0" name="experience">
				</div>
				<br>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
			 
		<div id="listOfJobs" class="wow slideInRight" data-wow-duration="1000ms" data-wow-delay="300ms" >
			{% for company in companies %}
				<div class="job">
					<a href="{% url 'vikalp:detail' company.id %}">
						<div id="position"><p>{{company.title}}</p></div>
						<div id="compName"><p>{{company.name}}</p></div>
						<div id="ctc"><p>CTC &#8377; {{company.ctc}} lacs</p></div>
						<div id="location">Location: {{company.location}}</div>
						<div id="experience">Experience: {{company.experience}} years</div></a>
				</div>
			{% endfor %}
		</div>
	</div>
<!--
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 wow slideInRight" id="whatWeDo" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>What we do?</h3>
				<p>We provide you one stop solution for your search for jobs. Your frantic search ends here as we thousands of jobs scraped from all around the web at one place. One place to give job to all.</p>
			</div>
			<div class="col-md-3 col-sm-6 wow slideInUp" id="contactUs" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Contacts</h3>
				<p><span style="font-weight:300">Email:</span>abc@xyz.com</p>
				<p><span style="font-weight:300">Phone:</span>12345678</p></br>
				<h3>Address</h3>
			</div>
			<div class="col-md-4 col-sm-12 wow slideInLeft" id="message" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Send a message</h3>
				<form>
					<input type="text" placeholder="Name"></br>
					<input type="text" placeholder="Email Id"></br>
					<textarea placeholder="Your message here" rows="4"></textarea></br>
					<input type="submit" id="submit">
				</form>
			</div>
			<div class="col-sm-12"></div>
		</div>
	</div>
</footer>
-->
{% endblock %}
