{% extends 'vikalp/base.html' %}
{% load staticfiles %}
{% block head %}Sign In{% endblock %}
{% block content %}
    <div class="col-xs-1"></div>
    <div class="container col-xs-4">
        <form role="form" id="login_form" method="POST" action="{% url 'vikalp:sign' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password">
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}